$primary-text-color: #757575;
$title-text-color: #000000;
$accent-text-color: #2196f3;
$primary-white-color: #ffffff;
$shadow-box-color: rgba(0, 0, 0, 0.15);
$primery-heading-color: #212121;
$main-bg-color: #f5f4fa;
$dark-bg-color: #2f303a;
$footer-nav-color: rgba(255, 255, 255, 0.6);
$main-icons-color: #afb1b8;
$border-color-elements: #eeeeee;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$logo_font: "Raleway", sans-serif;
$main_font: "Roboto", sans-serif;
