.about {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 0;
  }
}

.about__title {
  margin-bottom: 50px;
  color: $primery-heading-color;
}

.about__item {
  display: flex;
}

.about__item li {
  width: 370px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about__product {
  position: relative;
  contain: "";
  display: block;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: $main-bg-color;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
