.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  display: flex;
}

.clien__item {
  width: calc((100% - 150px) / 6);
  height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $main-icons-color;
  transition: border-color 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
    color: $accent-text-color;
  }
}

.client__icon {
  fill: currentColor;
}
