.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $timing-function;
  opacity: 1;

  overflow: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  transition: 250ms $timing-function;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 450px;
  min-height: 610px;
  padding: 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;

  @media screen and (min-width: 1200px) {
    min-width: 528px;
  }
}

.modal-form h2 {
  font-family: $main_font;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: url(../images/icons/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 250ms $timing-function;
}

/*Form*/

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  position: relative;
  content: "";
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

.form-input {
  max-height: 40px;
  margin-bottom: 10px;
  padding: 12px 15px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label {
  margin-bottom: 4px;
  color: $primary-text-color;
  font-family: $main_font;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal input:focus,
.modal textarea:focus {
  border-color: $accent-text-color;
  outline: none;
  cursor: pointer;
}
.modal input::placeholder {
  cursor: pointer;
}

.modal input:focus::placeholder {
  cursor: pointer;
}

.modal input:focus ~ svg {
  fill: $accent-text-color;
  cursor: pointer;
}

.form-input:focus + .icon {
  fill: $accent-text-color;
  transition: 250ms $timing-function;
}

.icon {
  position: absolute;
  content: "";
  top: 50%;
  left: 12px;
  transform: translateY(-30%);
  display: block;
}

.icon-marker {
  width: 18px;
  height: 18px;
}

.comment-text {
  resize: none;

  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &::placeholder {
    font-family: $main_font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-check {
  position: relative;
  align-items: center;
  font-family: $main_font;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.form-check a {
  color: $accent-text-color;
  text-decoration: underline;
}

.check-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Через псевдоелементы*/
.check-box::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 1px;
  box-shadow: 0 0 0 2px $primery-heading-color;

  .check-input:checked + & {
    transition: 250ms $timing-function;
    box-shadow: 0 0 0 2px $accent-text-color;
    background-color: $accent-text-color;
    background-image: url(../images/icons/check2.svg);
  }
}

/*Через span*/

/* .check-box {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 1px;
  box-shadow: 0 0 0 2px $primery-heading-color;
}
.check-input:checked + .check-box {
  box-shadow: 0 0 0 2px $accent-text-color;
  background-color: $accent-text-color;
  background-image: url(../images/icons/check2.svg);
} */

/* Через svg*/

/* .check-input + svg {
  display: inline-block;
  margin-right: 7px;
  height: 15px;
  width: 16px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + svg {
  background-color: $accent-text-color;
  background-image: url(../images/icons/symbol-defs.svg#icon-check);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  border-radius: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

.check-text {
  align-self: center;
}

.form__submit {
  align-self: center;
  max-width: 200px;
  height: 50px;
  color: $primary-white-color;
  background-color: $accent-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-family: $main_font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;

  align-self: center;
  padding-right: 55px;
  padding-left: 56px;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
